---
http_interactions:
- request:
    method: get
    uri: http://api.embed.ly/1/oembed?urls=http%3A%2F%2Fwww.makems.com%2Fgraphic%2Fpuppies-2.jpg&key=9e226384957f11e1bf614040aae4d8c9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-embedly-from-cache:
      - '0'
      etag:
      - ! '"9bf02d7ab1a21bbf50189f9693cb2eea7aa7050c"'
      x-embedly-process-time:
      - '836'
      x-embedly-host:
      - api09
    body:
      encoding: US-ASCII
      string: ! '[{"provider_url": "http://www.makems.com", "url": "http://www.makems.com/graphic/puppies-2.jpg",
        "height": 375, "width": 500, "version": "1.0", "provider_name": "Makems",
        "type": "photo"}]'
  recorded_at: Thu, 19 Jul 2012 13:45:33 GMT
recorded_with: VCR 2.2.3
