<div class="container">
  <div class="center-col" id="get-started">
    <div class="hero-unit">
      <h1 class="hero-heading">Adopt a Project</h1>
      <form>
        Enter a Donors Choose Project URL: <input type="text" name="url" /><br />
      </form>
      <div id="submit">
        <%= link_to "Submit", page_path("project"), id: "url-submit" %>
      </div>
    </div>
  </div>
</div>
