<div class="container">
  <div class="row" id="project-heading-row">
    <div id="project-photo" class="threecol">
      <img src="http://www.donorschoose.org/images/user/uploads/small/u1038676_sm.jpg?timestamp=1314288505636">
    </div>
    <div class="ninecol last">
      <h2></h2>
      <h2><span class="highlight">Project Title:</span> <a href="http://www.donorschoose.org/project/reading-is-fun/785675/">Reading is fun!</a></h2>
      <h3>Description</h3>
      <h4>About the students:</h4>
      <p>"The more you read, the more things you will know. The more you learn, the more places you'll go."-Dr. Seuss. Reading and literacy education is the key for my students. The more they read the more doors will open in their lives.
      My students live in the heart of the inner city. They are faced with many challenges every day. For many of my Kindergarten students this will be their first school experience. Many of my students come to school with limited English proficiency or are ESL students. My students are eager to learn, highly motivated, and energetic. They are between the ages of 5 and 6 years old. My students attend a public school in a very needy area of the city. Having a strong literacy impact on my students is crucial. Reading and literacy education is very important for their futures.</p>
    </div>
  </div>
  <div class="row" id="project-stats">
    <div class="twocol total-needed stat">
      <h3 class="heading">Total Needed:</h3>
      <h3 class="amount">$1,342.64</h3>
    </div>
    <div class="twocol raised stat">
      <h3 class="heading">Raised So Far:</h3>
      <h3 class="amount">$1,031.83</h3>
    </div>
    <div class="twocol remaining stat">
      <h3 class="heading">Still Needed:</h3>
      <h3 class="amount">$310.81</h3>
    </div>
    <div class="twocol donors stat">
      <h3 class="heading">Donors:</h3>
      <h3 class="amount">22</h3>
    </div>
  </div>
</div>
