<div class="container">
  <div class="row" id="project-heading-row">
    <div id="project-photo" class="threecol">
      <img src="http://www.donorschoose.org/images/user/uploads/small/u1038676_sm.jpg?timestamp=1314288505636">
    </div>
    <div class="ninecol last">
      <h1><span class="highlight">Reading is Fun</span></h1>
      <br>
      <h3>Lawlor Early Childhood Center</h3>
      <h3>Lawrence, MA</h3>
      <h3>Donors: 22</h3>
    </div>
  </div>

  <div class="row" id="progress-box">
    <div class="threecol">
      <h1>25 Days Left</h1>
    </div>
    <div class="sixcol last">
      <div id="progress-bar">
        <div id="succeeded-bar">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="threecol" id="missions">
    </div>

    <div class="sixcol" id="missions">
    </div>
  </div>
</div>
