<div class="row how-to-row">
  <div class="fivecol">
    <div class="info-details">
      1. Find a <a href="http://www.donorschoose.org/" target="blank">Donor's Choose</a> project to support
    </div>
  </div>
  <div class="twocol splash-icon-wrap">
    <span class="icon splash-icon">
      AA=
    </span>
  </div>
</div>

<div class="row how-to-row">
  <div class="fivecol">
    <div class="info-details">
      2. Challenge the world with a task you'll perform when the project meets a funding goal. Community service to egregious facial hair — Anything Goes!
    </div>
  </div>
  <div class="twocol splash-icon-wrap">
    <span class="icon splash-icon">
      AA=
    </span>
  </div>
</div>

<div class="row how-to-row">
  <div class="fivecol">
    <div class="info-details">
      Goad your friends and family to donate!
    </div>
  </div>
  <div class="twocol splash-icon-wrap">
    <span class="icon splash-icon">
      AA=
    </span>
  </div>
</div>
