<div class="row how-to-row">
  <div class="fivecol">
    <div class="info-details">
      1. Find a <a href="http://www.donorschoose.org/" target="blank">Donor's Choose</a> project to support
    </div>
  </div>
  <div class="onecol splash-icon-wrap">
    <span class="icon splash-icon">
      AA=
    </span>
  </div>
  <div class="sixcol last">
    <%= image_tag("images/how-to-1.png") %>
  </div>
</div>

<div class="row how-to-row">
  <div class="fivecol">
    <div class="info-details">
      2. Challenge the world with a task you'll perform when the project meets a funding goal. Community service to egregious facial hair — Anything Goes!
    </div>
  </div>
  <div class="onecol splash-icon-wrap">
    <span class="icon splash-icon">
      AA=
    </span>
  </div>
  <div class="sixcol last">
    <%= image_tag("images/how-to-2.png") %>
  </div>
</div>

<div class="row how-to-row">
  <div class="fivecol">
    <div class="info-details">
      3. Goad your friends and family to donate!
    </div>
  </div>
  <div class="onecol splash-icon-wrap">
    <span class="icon splash-icon">
      AA=
    </span>
  </div>
  <div class="sixcol last">
    <%= image_tag("images/how-to-3.png") %>
  </div>
</div>

<div class="row how-to-row">
  <div class="fivecol">
    <div class="info-details">
      4. Post evidence to prove you're legit. (Positive reinforcement will keep 'em coming back for more)
    </div>
  </div>
  <div class="onecol splash-icon-wrap">
    <span class="icon splash-icon">
      AA=
    </span>
  </div>
  <div class="sixcol last">
    <%= image_tag("images/how-to-4.png") %>
  </div>
</div>
