<div class="fourcol">
  <div class="info-title">Step 1: Adopt A Project</div>
  <div class="info-details">
    Find a <a href="http://www.donorschoose.org/" target="blank">Donor's Choose</a> project you're passionate about and add the link below
  </div>
</div>
<div class="fourcol">
  <div class="info-title">Step 2: Create a Challenge</div>
  <div class="info-details">
    Make it funny, make it serious, make it memorable. For example, rock a mohawk
  </div>
</div>
<div class="fourcol last">
  <div class="info-title">Step 3: Share</div>
  <div class="info-details">
    Invite friends to your project page and keep track of the lastest events
  </div>
</div>