<div class="fourcol">
  <div class="info-title">Adopt</div>
  <div class="info-details">
    Find a Donors Choose project you're passionate about and add the link above
  </div>
</div>
<div class="fourcol">
  <div class="info-title">Create a Challenge</div>
  <div class="info-details">
    Make it funny, make it serious, make it memorable. For example, rock a mohawk
  </div>
</div>
<div class="fourcol last">
  <div class="info-title">Share</div>
  <div class="info-details">
    Invite friends to your project page and keep track of the lastest events
  </div>
</div>