<div class="well">
  <div class="fourcol">
    <%= image_tag("http://3.bp.blogspot.com/-tY30zdA0YNs/TgpRjEUFkXI/AAAAAAAAAU0/U5UqPrzWKWk/s1600/HappyKids2.jpg") %>
  </div>
  <div class='eightcol last'>
    <div class="title-text"><h1>Be A Hero Today</h1></div>
    <%= form_for @project, class: "project-form" do |f| %>
      <%= f.text_field :proposal_url, placeholder: "Enter a Donors Choose Url" %>
      <%= f.submit class: 'form-submit' %>
    <% end %>
  </div>
</div>