<div id="other-challenges">
  <div class="row any-width">
    <div class="eightcol">
      <h1>Other Challenges</h1>
    </div>
    <div class="fourcol last">
      <div class="new-challenge-link">
        <%= link_to "Create New Challenge", new_project_challenge_path(:project_id => @project.id) %>
      </div>
    </div>
  </div>
  <div id="challenge-list">
    <div class="row any-width">
      <div class="fourcol challenge-preview">
        <p>A message here</p>
        <img class="challenge-thumbnail" src="http://projectkong.files.wordpress.com/2009/07/slackline1.jpg">
      </div>
      <div class="fourcol challenge-preview">
        <p>A message here</p>
        <img class="challenge-thumbnail" src="http://projectkong.files.wordpress.com/2009/07/slackline1.jpg">
      </div>
      <div class="fourcol last challenge-preview">
        <p>A message here</p>
        <img class="challenge-thumbnail" src="http://projectkong.files.wordpress.com/2009/07/slackline1.jpg">
      </div>
      <div class="fourcol challenge-preview">
        <p>A message here</p>
        <img class="challenge-thumbnail" src="http://projectkong.files.wordpress.com/2009/07/slackline1.jpg">
      </div>
      <div class="fourcol challenge-preview">
        <p>A message here</p>
        <img class="challenge-thumbnail" src="http://projectkong.files.wordpress.com/2009/07/slackline1.jpg">
      </div>
      <div class="fourcol last challenge-preview">
        <p>A message here</p>
        <img class="challenge-thumbnail" src="http://projectkong.files.wordpress.com/2009/07/slackline1.jpg">
      </div>
    </div>
  </div>
</div>