<div class="project-info eightcol">
  <h1 class="project-title"><span class="highlight"><%= link_to @project.title.truncate(54), @project.proposal_url %></span></h1>
  <h3 class="school-name"><%= @project.school_name %></h3>
</div>
<div id="progress-box" class="fourcol last">
  <div class="meter orange">
    <span style="width: 30%"></span>
  </div>
</div>
