<div class="container">
	
  <div class="row spacer"></div>

	<div class="well">
	  <div class="twelvecol">
	  	<h1 id="index-title">Current Adopted Projects</h1>
	  	<ul class="all-projects">
		  	<%= render :partial => "all_projects" %>
			<div class="pagination">
				<%= paginate @projects %>
			</div>
		</ul>

	  </div>

