<h1>Project Overview</h1>
<div class="well project-wrapper">
  <h3 class="no-margin">Title</h3>
  <div class="list-item"><%= @project.title %></div>
  <h3 class="no-margin">School</h3>
  <div class="list-item"><%= @project.school_name %></div>
  <h3 class="no-margin">Location</h3>
  <div class="list-item"><%= "#{@project.city},  #{@project.state}" %></div>
  <h3 class="no-margin">Subject</h3>
  <div class="list-item"><%= "#{@project.grade_level} - #{@project.subject}" %></div>
</div>