<div class="container">
  <div class="well">
   <%= render partial: 'error_message', locals: { challenge: @challenge } %>
    <div class="row">
      <div class="onecol"></div>
      <div class="tencol last">
        <% if current_user %>
          <%= render partial: 'new_challenge' %>
        <% else %>
          <%= render partial: 'sign_in_before_challenge' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="spacer"></div>
  <div class="row">
    <div class='twelvecol'>
      <h1 class="no-margin">Need Inspiration?</h1>
      <p>These ideas have done well before</p>
    </div>
  </div>
  <div class="row">
    <%= render partial: "example_challenges" %>
  </div>
</div>
