$cream:  rgba(255,248,212,1);
$orange: rgba(250,105,0,1);
$whale:  rgba(38,38,38,1);
$green:  rgba(122,179,23,1);
$red:    rgba(227,47,33,1);
$lightgrey: rgba(225,225,225,1);
$slate:   rgba(85,85,85,1);

$navbar: $orange;
$text: $whale;
