
/*FROM STATIC PROTOTYPE*/
$cream:  rgba(255,248,212,1);
$orange: rgba(250,105,0,1);
$whale:  rgba(38,38,38,1);
$green:  rgba(122,179,23,1);
$red:    rgba(227,47,33,1);
$slate:   rgba(85,85,85,1);
$blue:   rgba(56,128,153,1);
/*#####*/


$salmon: rgba(233,90,73,1);
$teal:   rgba(34,144,145,1);
$squid:  rgba(37,33,30,1);
$marigold: rgba(240,181,111,1);
$beige:    rgba(235,228,188,1);
$lightgrey: rgba(225,225,225,1);
$middlegrey: rgba(200,200,200,1);
$faintgrey: rgba(240,240,240,1);



$progress-bar-bg: darken($middlegrey, 10%);
$hover: $teal;
$navbar: $teal;
$text: $squid;
$text-medium: lighten($squid, 15%);
$feed-entry-box: $faintgrey;
$shadow: $squid;
$background: lighten($orange, 13%);
$page-container: $faintgrey;
$give-button: $blue;
$challenge-button: $orange;
$accent-background: $salmon;
$rule-grey: $middlegrey;
/*228,93,37*/


