@import "colors";
.feed-entry {
  background: $feed-entry-box;
  font-size: 1.1em;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  @include box-shadow(0 0 16px 1px $shadow);
}

img.profile-pic {
  display: inline;
  max-width: 64px;
}
.challenge-details {
  display: inline;
}

.challenge-will, .challenge-if  {
  color: $orange;
  border-bottom: 1px dashed $orange;
  font-weight: bold;
  font-size: 1em;
  margin-right: 4px;
}

.challenge-progress {
  font-size: 1.3em;
}

.project-heading-row {
  margin-top: 32px;
  margin-bottom: 32px;
}
