@import "colors";
.feed-entry {
  background: $orange;
}

img.profile-pic {
  display: inline;
  max-width: 64px;
}

.challenge-will, .challenge-if  {
  color: $orange;
  border-bottom: 1px dashed $orange;
  font-weight: bold;
  font-size: 1em;
  margin-right: 4px;
}

.challenge-progress {
  font-size: 1.3em;
}

.project-heading-row {
  margin-top: 32px;
  margin-bottom: 32px;
}

.featured-challenge {
  background: $lightgrey;
  padding: 16px;
  .dollars-left {
    font-size: 32px;
    font-weight: bold;
  }

}

