@import "colors";

span.highlight {
  color: $orange;
}

#project-heading-row {
  margin-bottom: 30px;
}

.total-needed {

}

.stat {
  h3 {
    font-size: 22px;
  }
  h3.heading {
   margin-bottom: 8px;
   border-bottom: 1px dashed $orange;
  }
}

.raised {
  h3.amount {
   color: $green;
  }
}

.remaining {
  h3.amount {
    color: $red;
  }
}

#progress-box {
  margin-bottom: 20px;
}

#progress-bar {
  background-color: gray;
  width: 400px;
  height: 40px;
}

#succeeded-bar {
  background-color: green;
  width: 300px;
  height: 40px;
}
