@import "colors";

.feed-entry {
  background: $orange;
}

img.profile-pic {
  display: inline;
  max-width: 64px;
}


.project-heading-row {
  margin-top: 32px;
  margin-bottom: 32px;
}

/*CHALLENGE FEED*/

li.feed-challenge {
  background: $page-container;
  &:hover {
    background: lighten($teal, 55%);
  }
  margin-bottom: 16px;
  padding: 8px;
  border-bottom: 1px solid $rule-grey;
  .challenge-link {
    color: $teal;
    font-size: 14px;
    &:hover {
      color: $orange;
    }
  }
  .amount-remaining {
    border-bottom: 1px dashed $orange;
    font-weight: bold;
  }

  .challenge-username {
    color: $orange;
  }

  .challenge-nav-text {
    font-size: 18px;
  }
}

li.feed-challenge.active {
  background: lighten($teal, 50%);
}

.new-challenge-link{
  a {
    color: $orange;
    @include button(simple, $challenge-button);
    &:hover {
      color: white;
    }
    font-size: 14px;
  }
  font-size: 18px;
}

/*FEATURED CHALLENGE*/

.challenge-will, .challenge-if  {
  color: $orange;
  font-size: 20px;
  border-bottom: 1px dashed $orange;
  font-weight: bold;
  margin-right: 4px;
}


.featured-challenge {
  img {
    width: 100%;
  }
  background: $lightgrey;
  padding: 16px;
  .challenge-link {
    font-size: 16px;
  }
  .challenge-money {
    width: 92.5%;
    color: white;
    padding: 8px;
    $c-m-radius: 8px;
    background-color: $accent-background;
    -webkit-border-bottom-right-radius: $c-m-radius;
    -webkit-border-bottom-left-radius:  $c-m-radius;
    -moz-border-radius-bottomright:     $c-m-radius;
    -moz-border-radius-bottomleft:      $c-m-radius;
    border-bottom-right-radius:         $c-m-radius;
    border-bottom-left-radius:          $c-m-radius;
    div {
      display: inline-block;
    }
    .give-link {
      @include button(simple, $give-button);
      font-size: 18px;
      padding: 8px 18px;
    }
    .challenge-donate {
      margin-top: 10px;
      vertical-align: top;
    }
    .challenge-progress {
      padding: 4px;
      font-size: 16px;
      .dollars-left {
        font-size: 24px;
        font-weight: bold;
      }
      .to-go {
        font-size: 14px;
      }
    }
  }
}

/*PROJECT INFO BAR*/

.project {
  border-bottom: 1px solid $lightgrey;
  /*Project Title*/

  h1.project-title{
    font-size: 28px;
  }

  h3.school-name {
    margin-top: -4px;
    color: $text-medium;
    font-weight: 400;
  }

  /*Project Stats*/

  .project-stats {
    div {
      padding-top: 12px;
      display: inline-block;
    }
    .stat-heading {
      margin-bottom: 2px;
    }
    .stat {
      font-size: 20px;
    }
    .donor-count {
      margin-right: 8px;
    }
  }


}
  /*Progress Bar*/
  $bar-height: 30px;
  #progress-box {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .meter {
    height: 20px;  /* Can be anything */
    position: relative;
    background: $progress-bar-bg;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
  }

  .meter > span {
  display: block;
  height: 100%;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(43,194,83)),
    color-stop(1, rgb(84,240,84))
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  -webkit-box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  }

  .meter > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:
     -webkit-gradient(linear, 0 0, 100% 100%,
        color-stop(.25, rgba(255, 255, 255, .2)),
        color-stop(.25, transparent), color-stop(.5, transparent),
        color-stop(.5, rgba(255, 255, 255, .2)),
        color-stop(.75, rgba(255, 255, 255, .2)),
        color-stop(.75, transparent), to(transparent)
     );
  background-image:
    -webkit-linear-gradient(
      -45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent
     );
  background-image:
    -moz-linear-gradient(
      -45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent
     );
  background-image:
    -ms-linear-gradient(
      -45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent
     );
  background-image:
    -o-linear-gradient(
      -45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent
     );
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size:    50px 50px;
  background-size:         50px 50px;
  -webkit-animation: move 2s linear infinite;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  overflow: hidden;
  }

  .orange > span {
  background-color: #f1a165;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
  background-image: -webkit-linear-gradient(top, #f1a165, #f36d0a);
        background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
        background-image: -ms-linear-gradient(top, #f1a165, #f36d0a);
        background-image: -o-linear-gradient(top, #f1a165, #f36d0a);
  }

/*Feed*/
#divider{
  margin-top:50px;
}


.message{
  border-bottom:1px solid $lightgrey;
  padding-top:15px;
  padding-bottom:15px;
  margin-left:0px;
}

.creator{
  font-weight:bold;
  margin-right:5px;
}

.message_form{
  height:50px;
  padding-top:35px;
}



/*Creating a new challenge*/

.well.project-wrapper{
  background:$lightgrey;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.05);
  height:253px;

}

.form-submit.small{
  margin-top:10px;
  margin-left:0px;
}

.list-item{
  font-size:16px;
  margin-top:2px;
  margin-bottom:10px;
}

h3.no-margin{
  margin-bottom:-6px;
}

h1.no-margin{
  margin-bottom:-9px;
}

.display-wrapper{
  position:relative;
  margin-top:15px;
  max-height:200px !important;
  margin-bottom:30px;
}

.overlay{
  position:absolute;
  bottom:0px;
  width:100%;
  background-color:black;
  font-size:15px;
  color:white;
  opacity:0.6;
}

p.overlay-text{
  padding:10px;
}

.arrow{
  margin-top: -153px;
  margin-left: 125px;
  width: 17%;
  height: 17%;
}

h3{
  .inline-error{
    color: #FF6666;
    font-style: italic;
  }

  .field_with_errors{
    display: inline;
  }
}


.field_with_errors {
  input{
    border: 1px solid red;
    background: #fff0f0
  }
}

/*PROJECT INDEX PAGE*/
#index-title{
  margin-left: 65px;
  color: #838b83;
}

.all-projects{
  margin-left: 50px;
}

.project-info{
  width: 20%;
  display: inline-block;
  padding: 15px;
}

#project_info{
  width: 21.05%;
}

#project-title{
  position: absolute;
  font-size: 12px;
  color: white;
  background: $teal;
  width: 188px;
  height: 35px;
  padding-left: 7px;
  padding-right: 7px;
}

#project-title-2{
  position: absolute;
  font-size: 12px;
  color: white;
  background: $teal;
  width: 198px;
  height: 35px;
  padding-left: 7px;
  padding-right: 7px;
}

.pagination{
  padding-left: 7px;
}