@import "colors";

/*splash page*/


.well {
  $well-radius: 8px;
  min-height: 222px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: $cream;
  border: 2px solid #eee;
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-radius: $well-radius;
  -webkit-border-radius: $well-radius;
  -moz-border-radius: $well-radius;
  border-radius: $well-radius;
}

.tagline {
  font-size: 24px;
  color: $orange;
  .site-name {
    color: $teal;
  }
}

.tagline.tagline-copy {
  margin-top: -12px;
}


/*PROJECT FORM*/

.project-creation {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px; 
}

.project-cta {
  color: $teal;
}
.text_field{
  border-radius: 25px;
  padding-left: 15px;
  margin-top: 2px;
}

input#project_proposal_url{
  margin: 4px;
  &:focus {
    box-shadow: 0px 0px 6px 1px $teal;
    outline: none;
  }
  height:28px;
  width: 100%;
}

input.form-submit{
  @include button(pill, $orange);
  font-size: 24px;
  font-family: "Rokkitt", serif;
}


.subtitle-text{
  color: #838b83;
}


.info-title{
  font-size:25px;
  margin-left: 10px;
  color: #838b83;

}

.info-details{
  a {
    color: gray;
    border-bottom: 1px dashed black;
    &:hover {
      color: lighten(black, 10%);
    }
  }
  .number {
    font-size: 32px;
    border-bottom: 1px solid white;
  }
  /*border: 2px solid #eee;*/
  /*border: 6px solid rgba(0, 0, 0, 0.1);*/
  /*height:200px;*/
  font-size: 28px;
  padding:10px;
  /*border-radius: 25px;*/
  color: gray;
}


.sample-projects {
  margin-top: 2px;
  margin-bottom: 16px;
}

.title-padding{
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-link{
  float: right;
  margin-right: 53px;
  margin-top: 5px;
}


/*HOW TOS*/

.splash-icon-wrap {
}
.row.how-to-row{
  font-family: "Rokkitt", serif;
  margin-bottom: 32px;
  margin-left:32px;
}
.splash-icon {
  color: $orange;
  font-size: 42px;
}

span.bold {
  font-weight: bold;
  border-bottom: 1px dashed white;
}