@import "colors";

body {
  background-color: $background;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rokkitt", serif;
}

a {
  color: $text;
  &:link {
    text-decoration: none;
  }
  &:visited {
    color: $text;
    &:hover {
      color: $hover2;
      border-bottom: 1px dashed $cream;
    }
  }
  &:hover {
    color: $hover;
    border-bottom: 1px dashed $cream;
  }
}

#page-container {
  max-width: 1140px;
  margin: auto;
  background-color: $page-container;
}

/*CUSTOM GRID STUFF*/
.custom-container {
  width: 100%;
}

.center-col {
  width: 1040px;
  margin: 0 auto;
  position: relative;
}

.row.any-width {
  min-width: 0px;
}

.spacer{
  height: 24px;
}

.spacer400{
  height: 300px;
}

#navbar {
  background: $navbar;
  @include linear-gradient($navbar, #444);
  color: white;
  a {
    color: white;
    &:link {
      text-decoration: none;
    }
    &:visited {
      color: white;
      &:hover {
        color: white;
        border-bottom: 1px dashed $cream;
      }
    }
    &:hover {
      border-bottom: 1px dashed $cream;
    }
  }
}


#get-started {
  margin-top: -40px;
  background: $cream;
  height: 1040px;
  input[type='text'] {
    margin-top: 8px;
    height: 24px;
    width: 50%;
    font-size: 18px;
  }
}

#url-submit {
  @include button(pill, $orange);
  margin-top: 8px;
  font-size: 18px;
}

.brand {
  font-size: 200%;
  margin-left:18px;
  /*color: $color;*/
}


.nav {
  float: right;
}

.hero-unit {
  margin-top: 60px;
  padding-top: 60px;
  width: 600px;
  margin: auto;
}

#user-links {
  margin-top: 10px;
  float: right;
  font-size: 50%;
  margin-right: 20px;
}
